<h1>Equipos <span>NHL</span></h1>

<div class="grid-container">
  <div class="card" *ngFor="let e of equipos">
    <img class="img-responsive center-block d-block mx-auto" [src]="e.img" [alt]="e.nombre" />
    <div class="card-body">
      <h5 class="card-title">{{ e.nombre }}</h5>
      <p class="card-text">
        {{ e.bio }}
      </p>
      <p class="card-text">
        <small class="text-muted">{{ e.division }}</small>
      </p>
    </div>
    <button type="button" class="btn btn-outline-primary btn-block">
      Ver más...
    </button>
  </div>
</div>


